@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
}

body {
    display: block;
    padding: 0;
    margin: 0;
    user-select: none;
    background-color: transparent !important;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
	width: 0;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

#textUI {
    width: fit-content;
    height: 4%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: "Barlow", sans-serif;
    /* clip-path: inset(0 round 8px); */
    font-weight: 450;
    gap: 0.5vw;
}

#TUTDiv {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    color: #fff;
    color: #A5A6AD;
    text-shadow: 0px 0px 15px rgba(165, 166, 173, 0.45);
    background: #171A21;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8vw;
}

#TUDiv {
    width: fit-content;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    height: 18%;
    position: absolute;
    top: 14%;
    left: 5%;
    border-radius: 0.833px;
    background: #08C098;
    box-shadow: 0px 0px 3.2px 1px rgba(8, 192, 152, 0.37);
}

#TUKeyDiv {
    width: fit-content;
    height: 100%;
    position: relative;
    padding-left: 0.3vw;
    padding-right: 0.35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #08c098;
    background: #171A21;
    border-radius: 7px;
}

#TUKeyDivInside {
    width: 80%;
    height: 67%;
    position: relative;
    border-radius: 4px;
    border: 1px solid #08C098;
    background: rgba(8, 192, 152, 0.14);
    box-shadow: 0px 0px 7.4px 1px rgba(8, 192, 152, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    font-size: 0.8vw;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}